<?xml version="1.0"?>
<configuration scan="true" scanPeriod="30 seconds">
    
    <appender name="SPIKEX" class="ch.qos.logback.core.rolling.RollingFileAppender">
        
        <file>${logback.logdir}/spikex.log</file>
        
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.logdir}/spikex.%i.log.gz</fileNamePattern>
            <MaxHistory>30</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>40MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>
        
    <appender name="SPIKEX-EVENTS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        
        <file>${logback.logdir}/events.log</file>
        
        <encoder>
            <pattern>%date{ISO8601} %X{event} %msg%n</pattern>
        </encoder>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.logdir}/events.%i.log.gz</fileNamePattern>
            <MaxHistory>30</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>40MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <appender name="SPIKEX-ASYNC0" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000</queueSize>
        <appender-ref ref="SPIKEX"/>
    </appender>

    <appender name="SPIKEX-ASYNC1" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000</queueSize>
        <appender-ref ref="SPIKEX-EVENTS"/>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.spikex.events" level="INFO" additivity="false">
        <appender-ref ref="SPIKEX-ASYNC1"/>
    </logger>

    <!-- Suppress Vert.x WindowsFileSystem "POSIX style file permissions are not supported" logging -->
    <logger name="org.vertx.java.core.file.impl.WindowsFileSystem" level="INFO"/>

    <!-- Suppress OSHI file store debug logging -->
    <logger name="oshi.software.os.OSFileStore" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="SPIKEX-ASYNC0"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
